#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 18px;
  color: #4361ee;
}

.loader {
  width: 50px;
  height: 50px;
  border: 3px solid #e9ecef;
  border-top-color: #4361ee;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.loader-2-container {
  display: grid;
  place-items: center;
}

.loader-2 {
  width: 35px;
  height: 35px;
  border: 3px solid #e9ecef;
  border-top-color: #4361ee;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
